<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Hao Jiang">
    <meta name="generator" content="Hao Jiang v1.0.0">
    <title>Tiny App · Create New URL</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <style>
      html,
      body {
        height: 100%;
      }
      body {
        display: -ms-flexbox;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #b3d7ff;
      }
    </style>
  </head>

  <body style="font-size:20px; padding:50px;"  class="text-center">
    <header>
      <% include ./partials/_header %>
    </header>

    <div class="alert alert-danger text-center" role="alert">
      <h5>
        <b><%= shortURL%></b> is an invalid Tiny URL ID !
        Cannot jump to the corresponding Long URL.
      </h5>
      <h6>
        Please make sure your input a correct ID, or create a new one:
      </h6>
      <a class="alert-link" href="/urls/new" style="margin: 1em">
        Creat New TinyURL
      </a>
    </div>

    <% include ./partials/_footer %>
  </body>
</html>