<!-- views/partials/_header.ejs -->

<h1><b>Tiny App</b></h1>
<a class="alert-link" href="/urls">
  <img class="mb-4" src="/img/URL_Icon.svg" alt="" width="72" height="72" href="/urls">
</a>
<br>
<a class="alert-link" href="/urls">
  Home
</a>
|
<% if(userInfo === false){ %>
  <a class="alert-link" href="/login">
    Login
  </a>
  |
  <a class="alert-link" href="/register">
    Register
  </a>
<% } else { %>
  <%= userInfo.email%>
  |
  <a class="alert-link" href="/logout">
    Logout
  </a>
<% } %>

<hr>